<div class="wrapper wrapper-content" ng-controller="DiscoveryCtrl as controller">
  <div class="animated fadeInRight">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="ibox">
          <div class="ibox-content no-borders">
            <!--TODO: New and Popular Services should be at top of panel-->
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 border-right">
                <!-- New Services -->
                <div class="row">
                  <div class="col-sm-12 col-md-12 marginFromTop-2">
                    <h1>New Services</h1>
                  </div>
                </div><!-- /row -->
                <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4 center-block text-center marginFromTop-1" ng-repeat="j in sortedListofService['New Services']">
                    <a ng-href="#/index/servicesdetails/{{j.serviceID}}">
                      <img ng-src="{{j.img_url_overview}}" class="img-thumbnail img-responsive" style="width: 100%;"/>
                      <h3 class="homeServiceTitle hidden-xs">{{j.name}}</h3>
                    </a>
                  </div><!-- /col-xs-6 col-sm-3 col-md-2 center-block text-center marginFromTop-1 -->
                </div><!-- /row -->
                <!-- /New Services -->
              </div><!-- /col-xs-6 col-sm-6 col-md-6 col-lg-6 -->

              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <!-- Popular Services -->
                <div class="row">
                  <div class="col-sm-12 col-md-12 marginFromTop-2">
                    <h1>Popular Services</h1>
                  </div>
                </div><!-- /row -->
                <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4 center-block text-center marginFromTop-1" ng-repeat="j in sortedListofService['Popular Services']">
                    <a ng-href="#/index/servicesdetails/{{j.serviceID}}">
                      <img ng-src="{{j.img_url_overview}}" class="img-thumbnail img-responsive" style="width: 100%;"/>
                      <h3 class="homeServiceTitle hidden-xs">{{j.name}}</h3>
                    </a>
                  </div><!-- /col-xs-6 col-sm-3 col-md-2 center-block text-center marginFromTop-1 -->
                </div><!-- /row -->
                <!-- /Popular Services -->
              </div><!-- /col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
            </div><!-- /row -->

            <!-- ************************************ -->
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <hr>
              </div><!-- /col-xs-6 col-sm-3 col-md-2 center-block text-center marginFromTop-1 -->
            </div><!-- /row -->
            <!-- ************************************ -->

            <h1 class="marginFromTop-2">Services by category</h1>
            <div ng-repeat="(kind, services) in sortedListofService">
              <div class="row">
                <div class="col-sm-12 col-md-12 marginFromTop-2">
                  <h2>{{kind}}</h2>
                </div>
              </div><!-- /row -->
              <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-2 center-block text-center marginFromTop-1" ng-repeat="j in services">
                  <a ng-href="#/index/servicesdetails/{{j.serviceID}}">
                    <img ng-src="{{j.img_url_overview}}" class="img-thumbnail img-responsive" style="width: 100%;"/>
                    <h3 class="homeServiceTitle hidden-xs">{{j.name}}</h3>
                  </a>
                </div><!-- /col-xs-6 col-sm-3 col-md-2 center-block text-center marginFromTop-1 -->
              </div><!-- /row -->
            </div><!-- /sortedListofService -->
            <!-- ************************************ -->
          </div><!-- /ibox-content -->
        </div><!-- /ibox -->
      </div><!-- /col-xs-12 col-sm-12 col-md-12 col-lg-12 -->
    </div><!-- /row -->
  </div><!-- /animated fadeInRight -->
</div><!-- /wrapper wrapper-content -->
