<div class="wrapper wrapper-content" ng-controller="HomeCtrl as controller">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="ibox">
                    <div class="ibox-content no-borders">
                        <div class="row">
                            <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-md">-->
                            <div class="col-sm-12 col-md-6 marginFromTop-2">
                                <!-- <h1 class="welcomeTitle">Welcome to MyData Link</h1> -->
                                <h1 class="welcomeTitle">MyData Link</h1>
                                <p>Lorem ipsum dolor sit amet, mea cibo commodo id. Sea no error cetero platonem. Ad ius dicant complectitur, qui ex tempor dolorem persequeris. Nec partem inermis consequat et. Eos in malorum antiopam partiendo, mel et diceret incorrupte, cu agam posidonium his.</p>
                            </div><!-- /col-sm-12 col-md-6 marginFromTop-2 -->

                            <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-md">-->
                            <div class="col-sm-12 col-md-6 marginFromTop-2">
                              <h1 class="newsTitle">News feed</h1>

                                <!--<table class="table table-hover" style="width:60%">-->

                                <table class="table table-hover">
                                  <tr>
                                    <td>07.10.2015</td>
                                    <td>POC-Demo at OIH <a>...</a></td>
                                  </tr>
                                  <tr>
                                    <td>08.10.2015</td>
                                    <td>Alpha testing starts <a>...</a></td>
                                  </tr>
                                </table>
                            </div><!-- /col-sm-12 col-md-6 marginFromTop-2 -->
                        </div><!-- /row -->

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginFromTop-5">
                                <h1 class="welcomeMsg">Discover Services and Get Started!</h1>
                            </div>
                        </div><!-- /row -->
                        <!--infinite-scroll='loadMore()' infinite-scroll-distance='0'-->

                        <!--<div class="row m-t-sm" >-->
                        <div class="row">
                            <!--<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 item"-->
                            <div class="col-xs-6 col-sm-3 col-md-2 marginFromTop-2"
                                 ng-repeat="(serviceID, serviceDetails) in availableServices"
                                 >
                                <a ng-href="#/index/servicesdetails/{{serviceID}}">
                  									<img ng-src="{{serviceDetails.img_url_overview}}" class="homeServicePhoto img-thumbnail img-responsive"/>
                                    <h3 class="homeServiceTitle hidden-xs">{{serviceDetails.name}}</h3>
                                </a>
                            </div><!-- /col-xs-6 col-sm-3 col-md-2 marginFromTop-2 -->
                        </div><!-- /row -->
                    </div><!-- /ibox-content -->
                </div><!-- /ibox -->
            </div><!-- /col-sm-12 col-md-12 -->
        </div><!-- /row -->
    </div><!-- /animated fadeInRight -->
</div><!-- /wrapper wrapper-content -->
