<div class="wrapper wrapper-content" ng-controller="MyServiceCtrl as controller">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="ibox">
                    <div class="ibox-content no-borders"><!-- <div class="ibox-content myServicesHeader"> -->
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="btn-group pull-right">
                                <a ui-sref="index.myservices">
                                    <button class="btn btn-success" ng-disabled="true">
                                        <i class="fa fa-bars"></i><span> LIST</span>
                                    </button>
                                </a>
                                <a ui-sref="index.myservicescircle">
                                    <button class="btn btn-success">
                                        <i class="fa fa-circle-o"></i><span> RADIAL</span>
                                    </button>
                                </a>
                            </div><!-- tn-group pull-right -->
                            <br><hr>
                          </div><!-- col-xs-12 -->
                        </div><!-- /row -->
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">
                                <h2 class="pull-right">Data Sender</h2>
                            </div>
                            <div class="col-xs-2 col-sm-3">
                                <!--<img src="assets/img/icons/sender.svg" />-->
                                <img class="img-container dataFlowLogo pull-left" src="http://cc.oulu.fi/~jylikant/dhr/uiIcons/serviceRoleSource.png" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                            </div>
                            <div class="col-xs-2 col-sm-3">
                                <!--<img class="pull-right" src="assets/img/icons/receiver.svg" />-->
                                <img class="img-container dataFlowLogo pull-right" src="http://cc.oulu.fi/~jylikant/dhr/uiIcons/serviceRoleSink.png" />
                            </div>
                            <div class="col-xs-2 col-sm-2">
                                <h2 class="pull-left">Data Shared</h2>
                            </div>
                        </div><!-- /row -->
                    </div><!-- /ibox-content myServicesHeader -->

                    <!-- If there in no services to show -->
                    <div class="ibox-content no-borders" ng-if="noServices">
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <h1 class="headerColor">You don't have any compatible services yet.</h1><br>
                        <a ui-sref="index.discover">
                          <button class="btn btn-primary btn-lg">Discover</button>
                        </a>
                        </div>
                      </div>
                    </div>
                    <!-- End of If there in no services to show -->
                    <!-- If there is services to show -->
                    <div class="ibox-content no-borders"
                         ng-repeat="(serviceID, serviceDetails) in data"
                         ng-if="returnObjLength(serviceDetails.connections.DataShared) >= 0 || returnObjLength(serviceDetails.connections.ReceivingData) >= 0 ">

                        <div class="row">
                            <!--senders-->
                            <div class="col-xs-2 col-sm-2">
                                <div class="row"
                                ng-if="returnObjLength(serviceDetails.connections.DataShared) > 0">
                                    <div class="col-xs-12" ng-repeat="(sourceName,sourceDetails) in serviceDetails.connections.DataShared">
                                        <a ng-href="#/index/myservicesdetails/{{sourceDetails.serviceID}}">
                                            <button class="btn btn-info btn-sm btn-outline pull-right btn_service">
                                                <span>{{sourceName}}</span><img ng-src="{{sourceDetails.img_url_logo}}" class="logoIcon"/>
                                            </button>
                                        </a>
                                    </div><!-- /col-xs-12 -->
                                </div><!-- /row -->
                            </div> <!-- /col-xs-2 col-sm-2 -->

                            <!--senders' lines-->
                            <!--<div class="col-sm-2 lineBlock" >-->
                            <div class="col-xs-2 col-sm-3 lineBlock" >
                                <svg width="100%"
                                     ng-attr-height="{{returnLongest(serviceDetails.connections.DataShared, serviceDetails.connections.ReceivingData) * 35}}"
                                     ng-attr-viewBox="0 0 100 {{returnLongest(serviceDetails.connections.DataShared, serviceDetails.connections.ReceivingData) * 100}}"
                                     xmlns="http://www.w3.org/2000/svg"
                                     ng-if="returnObjLength(serviceDetails.connections.DataShared) > 0">

                                    <g ng-repeat="k in returnObjKeys(serviceDetails.connections.DataShared) track by $index">
                                        <path
                                                ng-attr-d="M 0 {{$index*39}}
                                                           C 94 {{$index*39}},
                                                             94 {{returnObjLength(serviceDetails.connections.ReceivingData) === 0 && 1 || (returnObjLength(serviceDetails.connections.ReceivingData)-1)*22}},
                                                             188 {{returnObjLength(serviceDetails.connections.ReceivingData) === 0 && 1 || (returnObjLength(serviceDetails.connections.ReceivingData)-1)*22}}"
                                                stroke-linejoin="round"
                                                stroke-linecap="round"
                                                class="line"
                                                >
                                            <!-- ng-attr-stroke-width="{{$index === 0 && '1px' || '1px' }}"-->
                                            <!--{{j.receiving.length>=1 && 100 || 20}}-->
                                        </path>
                                    </g>
                                </svg>
                            </div><!-- /col-xs-2 col-sm-3 lineBlock -->


                            <!-- middle items -->
                            <div class="col-xs-2 col-sm-2"
                                 ng-style="returnObjLength(serviceDetails.connections.ReceivingData) === 0 && -13 || {'margin-top': (returnObjLength(serviceDetails.connections.ReceivingData)-1) * 22 - 10}"
                                    >
                                <a ng-href="#/index/myservicesdetails/{{serviceID}}">
                                    <button class="btn btn-primary mi">
                                        <span>{{serviceDetails.name}}</span>
                                        <br/>
                                        <img ng-src="{{serviceDetails.img_url_logo}}" class="logoIcon"/>
                                    </button>
                                </a>
                            </div><!-- col-xs-2 col-sm-2 -->

                            <!--sharing line-->
                            <div class="col-xs-2 col-sm-3 lineBlock" >
                                <!--<span>{{returnObjLength(serviceDetails.connections.ReceivingData)}}</span>-->
                                <svg width="100%" ng-attr-height="{{returnObjLength(serviceDetails.connections.ReceivingData) * 35}}"
                                     ng-attr-viewBox="0 0 100 {{returnObjLength(serviceDetails.connections.ReceivingData) * 100}}"
                                     xmlns="http://www.w3.org/2000/svg"
                                     ng-if="returnObjLength(serviceDetails.connections.ReceivingData) > 0">

                                    <g ng-repeat="k in returnObjKeys(serviceDetails.connections.ReceivingData) track by $index" transform="translate(188,0) scale(-1, 1)">
                                        <path
                                                ng-attr-d="M 0 {{$index*39}}
                                                           C 94 {{$index*39}},
                                                             94 {{(returnObjLength(serviceDetails.connections.ReceivingData)-1) * 22}},
                                                             188 {{(returnObjLength(serviceDetails.connections.ReceivingData)-1) * 22}}"
                                                stroke-linejoin="round"
                                                stroke-linecap="round"
                                                class="line"
                                                >
                                        </path>
                                    </g>
                                </svg>
                            </div><!-- /col-xs-2 col-sm-3 lineBlock -->

                            <!-- shared items -->
                            <div class="col-xs-2 col-sm-2">
                                <div class="row"
                                ng-if="returnObjLength(serviceDetails.connections.ReceivingData) > 0">
                                    <div class="col-xs-12" ng-repeat="(sinkName,sinkDetails) in serviceDetails.connections.ReceivingData">
                                        <a ng-href="#/index/myservicesdetails/{{sinkDetails.serviceID}}">
                                            <button class="btn btn-info btn-sm btn-outline btn_service">
                                                <span>{{sinkName}}</span><img ng-src="{{sinkDetails.img_url_logo}}" class="logoIcon"/>
                                            </button>
                                        </a>
                                    </div><!-- /col-xs-12 -->
                                </div><!-- /row -->
                            </div><!-- col-xs-2 col-sm-2 -->
                        </div><!-- /row -->
                    </div><!-- /ibox-content no-borders -->
                    <!-- End of If there is services to show -->
                </div><!-- /ibox -->
            </div><!-- /col-xs-12 col-sm-12 col-md-12 col-lg-12 -->
        </div><!-- /row -->
    </div><!-- /animated fadeInRight -->
</div><!-- /wrapper wrapper-content -->
