<div class="wrapper wrapper-content" ng-controller="MyServiceCircleCtrl as controller">
  <div class="animated fadeInRight">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="ibox">
          <div class="ibox-content no-borders"><!-- <div class="ibox-content myServicesHeader"> -->
            <div class="row">
              <div class="col-xs-12">
                <div class="btn-group pull-right">
                  <a ui-sref="index.myservices">
                    <button class="btn btn-success" ng-disabled="true">
                      <i class="fa fa-bars"></i><span> LIST</span>
                    </button>
                  </a>
                  <a ui-sref="index.myservicescircle">
                    <button class="btn btn-success">
                      <i class="fa fa-circle-o"></i><span> RADIAL</span>
                    </button>
                  </a>
                </div><!-- btn-group pull-right -->
                <br><hr>
              </div><!-- col-xs-12 -->
            </div><!-- /row -->
            <div class="row">
              <div class="col-xs-12">
                <h2 class="">Data Sender <i class="fa fa-circle fa-1x node--source marginFromTop-1 marginFromLeft-1"></i></h2>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="col-xs-12">
                <h2 class="">Data Shared <i class="fa fa-circle fa-1x node--target marginFromTop-1 marginFromLeft-1"></i></h2>
              </div>
            </div>
          </div><!-- /ibox-content myServicesHeader -->
          <div class="ibox-content no-borders">
            <div class="row">
              <div class="col-xs-12">
                <div class="circlegraph"></div>
              </div><!-- col-xs-12 -->
            </div><!-- /row -->
          </div><!-- /ibox-content no-borders -->
        </div><!-- /ibox -->
      </div><!-- /col-xs-12 col-sm-12 col-md-12 col-lg-12 -->
    </div><!-- /row -->
  </div><!-- /animated fadeInRight -->
</div><!-- /wrapper wrapper-content -->
