<div class="wrapper wrapper-content" ng-controller="MyServiceDetailCtrl as controller">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="ibox">
                    <div class="ibox-content no-borders">
                      <!-- Service Info -->
                      <div class="row">
                        <!-- ServiceBrand -->
                        <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 serviceDetailLeftCol">-->
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 serviceDetailLogoContainer">
                          <img class="img-container img-rounded center-block serviceDetailLogo" ng-src="{{data.img_url_logo}}" />
                        </div><!-- /col-xs-6 col-sm-6 col-md-6 col-lg-6 -->

                        <!-- ServiceDescription -->
                        <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 serviceDetailRightCol">-->
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                          <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <h1 class="text-justify serviceDetailName">{{data.name}}</h1>
                            </div><!-- col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <img class="img-container serviceRoleLogo" ng-src="http://cc.oulu.fi/~jylikant/dhr/myDataIcons/icon-{{data.role}}.png" />
                            </div><!-- col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
                          </div><!-- /row -->
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginFromTop-2">
                              <p class="serviceDescription">{{data.description.longer}}</p>
                            </div><!-- col-xs-12 col-sm-12 col-md-12 col-lg-12 -->
                          </div><!-- /row -->
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginFromTop-2">
                              <span class="pull-right"><a ng-href="{{serviceDetails.link}}">SEE WEB PAGE</a></span>
                            </div><!-- col-xs-12 col-sm-12 col-md-12 col-lg-12 -->
                          </div><!-- /row -->
                        </div><!-- /col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
                      </div><!--/row -->
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginFromTop-2"><hr></div>
                      </div><!--/row -->
                        <!-- *************************************** -->
                        <!--<div class="row m-t-xxxl">-->
                        <!-- Service Connection header -->
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 marginFromTop-1">
                              <img class="img-container dataFlowLogo pull-right" ng-src="http://cc.oulu.fi/~jylikant/dhr/uiIcons/dataFlowFromLeft.png" />
                            </div>
                            <!-- Service name -->
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <!--<img class="img-container serviceDetailMinorLogo" ng-src="{{data.img_url_logo}}" /><br>-->
                                <h1 class="text-center" style="font-size: 2.5em;">Services connected with {{data.name}}</h1>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 marginFromTop-1">
                              <img class="img-container dataFlowLogo pull-left" ng-src="http://cc.oulu.fi/~jylikant/dhr/uiIcons/dataFlowToRight.png" />
                            </div>
                        </div><!-- /row -->

                        <!-- SERVICE CONNECTIONS AND POTENTIAL CONNECTIONS -->
                        <!--<div class="row m-t-lg dataServiceWrap">-->
                        <div class="row marginFromTop-2">
                            <!-- DataSource Section -->
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <!-- potentialDataSourceWithContract -->
                                <div class="row marginFromLeft-2 marginFromRight-2" ng-repeat="i in potentialDataSourceWithContract track by $index">
                                    <!-- Consent Title -->
                                    <!--<div class="row consentTitleArea">-->
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <img ng-src="{{i.img_url_logo}}" class="pull-right" style="width:40%;"/>
                                        </div><!-- /col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <h2 class="pull-left serviceNameOnConsentTitleArea">{{i.name}}</h2>
                                        </div><!-- /col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
                                    </div><!-- /row -->

                                    <!-- Detail area -->
                                    <div class="row">
                                        <!--<div class="consentDetailsArea">-->
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 consentDetailsArea">
                                            <p>{{i.description.short}}</p>
                                            <h2 class="pull-left"><b>THIS DATA COULD<br>BE SHARED FROM<br>{{i.name}}</b></h2>
                                            <button type="button" class="btn btn-primary pull-right" ng-click="showConsentModal(i)">Give Consent</button>
                                            <div class="clearfix"></div>
                                            <ul>
                                                <li ng-repeat="(key, value) in i.categories track by $index">
                                                    <label>
                                                        <h3 ng-click="value.isOpen = !value.isOpen">{{key}}
                                                            <span ng-hide="value.isOpen || value.subCates.length === 0" class="fa fa-plus"></span>
                                                            <span ng-if="value.subCates.length > 0" ng-show="value.isOpen" class="fa fa-minus"></span>
                                                        </h3>
                                                    </label >
                                                    <ul ng-show="value.isOpen">
                                                        <li ng-repeat="j in value.subCates">
                                                                <span>{{j}}</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div><!-- /col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
                                    </div><!-- /row -->
                                </div><!-- /row -->
                                <!-- /potentialDataSourceWithContract -->

                                <!-- datasourceWithConsent -->
                                <div class="row marginFromLeft-2 marginFromRight-2" ng-repeat="i in datasourceWithConsent track by $index">
                                    <!--<div class="row consentTitleArea">-->
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <img ng-src="{{i.img_url_logo}}" class="pull-right" style="width:40%;"/>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <h2 class="pull-left serviceNameOnConsentTitleArea">{{i.name}}</h2>
                                        </div>
                                    </div><!-- /row -->
                                    <div class="row">
                                      <!--<div class="consentDetailsArea">-->
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 consentDetailsArea">
                                            <p>{{i.description.short}}</p>
                                            <h2 class="pull-left"><b>DATA SHARED FROM<br>{{i.name}}</b></h2>
                                            <button type="button" class="btn btn-info pull-right" ng-click="showConsentModal(i)">View Consent</button>
                                            <div class="clearfix"></div>
                                            <ul>
                                                <li ng-repeat="(key, value) in i.categories track by $index">
                                                    <label>
                                                        <h3 ng-click="value.isOpen = !value.isOpen">{{key}}
                                                            <span ng-hide="value.isOpen || value.subCates.length === 0" class="fa fa-plus"></span>
                                                            <span ng-if="value.subCates.length > 0" ng-show="value.isOpen" class="fa fa-minus"></span>
                                                        </h3>
                                                    </label >
                                                    <ul ng-show="value.isOpen">
                                                        <li ng-repeat="j in value.subCates">
                                                                <span>{{j}}</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>

                                            <label class="pull-right">
                                                <input icheck type="checkbox" ng-model="i.consentStatus" checked>
                                                <!--HH: SHOULD BE AN ALTERNATIVE TO ABOVE. TEST IF ABOVE DOESN'T WORK-->
                                                <!--<input icheck type="checkbox" ng-model="i.consentStatus" ng-true-value="active">-->
                                                <span>Active</span>
                                            </label>
                                            <!--<span class="pull-right">Active <i class="fa fa-check-square-o"></i></span>-->
                                        </div><!-- /consentDetailsArea -->
                                    </div><!-- /row -->
                                </div><!-- /row -->
                                <!-- /datasourceWithConsent -->
                            </div><!-- col-xs-6 col-sm-6 col-md-6 col-lg-6 -->

                            <!-- DataSink Section -->
                            <!--<div class="col-lg-6 datasinkArea">-->
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <!-- potentialDataSinkWithContract -->
                                <div class="row marginFromLeft-2 marginFromRight-2" ng-repeat="i in potentialDataSinkWithContract track by $index">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <img ng-src="{{i.img_url_logo}}" class="pull-right" style="width:40%;"/>
                                        </div>
                                        <div class="col-lg-6 col-lg-offset">
                                            <h2 class="pull-left serviceNameOnConsentTitleArea">{{i.name}}</h2>
                                        </div>
                                    </div><!-- /row -->
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 consentDetailsArea">
                                            <p>{{i.description.short}}</p>
                                            <h2 class="pull-left"><b>THIS DATA COULD BE<br>SHARED TO<br>{{i.name}}</b></h2>
                                            <button type="button" class="btn btn-primary pull-right" ng-click="showConsentModal(i)">Give Consent</button>
                                            <div class="clearfix"></div>
                                            <ul>
                                                <li ng-repeat="(key, value) in data.categories track by $index">
                                                    <label>
                                                        <h3 ng-click="value.isOpen = !value.isOpen">{{key}}
                                                            <span ng-hide="value.isOpen || value.subCates.length === 0" class="fa fa-plus"></span>
                                                            <span ng-if="value.subCates.length > 0" ng-show="value.isOpen" class="fa fa-minus"></span>
                                                        </h3>
                                                    </label >
                                                    <ul ng-show="value.isOpen">
                                                        <li ng-repeat="j in value.subCates">
                                                                <span>{{j}}</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div><!-- /col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
                                    </div><!-- /row -->
                                </div><!-- /row -->
                                <!-- /potentialDataSinkWithContract -->

                                <!-- datasinkWithConsent -->
                                <div class="row marginFromLeft-2 marginFromRight-2" ng-repeat="i in datasinkWithConsent track by $index">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <img ng-src="{{i.img_url_logo}}" class="pull-right" style="width:40%;"/>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <h2 class="pull-left serviceNameOnConsentTitleArea">{{i.name}}</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 consentDetailsArea">
                                            <p>{{i.description.short}}</p>
                                            <h2 class="pull-left"><b>DATA SHARED TO<br>{{i.name}}</b></h2>
                                            <button type="button" class="btn btn-info pull-right" ng-click="showConsentModal(i)">View Consent</button>
                                            <div class="clearfix"></div>
                                            <ul>
                                                <li ng-repeat="(key, value) in data.categories track by $index">
                                                    <label>
                                                        <h3 ng-click="value.isOpen = !value.isOpen">{{key}}
                                                            <span ng-hide="value.isOpen || value.subCates.length === 0" class="fa fa-plus"></span>
                                                            <span ng-if="value.subCates.length > 0" ng-show="value.isOpen" class="fa fa-minus"></span>
                                                        </h3>
                                                    </label >
                                                    <ul ng-show="value.isOpen">
                                                        <li ng-repeat="j in value.subCates">
                                                                <span>{{j}}</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <label class="pull-right" ng-init="i.consentStatus=true">
                                                <input icheck type="checkbox" ng-model="i.consentStatus" checked>
                                                <span>Active</span>
                                            </label>
                                            <!--<span class="pull-right">Active <i class="fa fa-check-square-o"></i></span>-->
                                        </div><!-- col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
                                    </div><!-- /row -->
                                </div><!-- /row -->
                                <!-- /datasinkWithConsent -->
                            </div><!-- /col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
                            <!-- /DataSink Section -->
                        </div><!-- /row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
