<div class="wrapper wrapper-content" ng-controller="ServiceDetailCtrl as controller">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="ibox">
                    <div class="ibox-content no-borders">
                      <!-- Service Info -->
                      <div class="row">
                        <!-- ServiceBrand -->
                        <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 serviceDetailLeftCol">-->
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 serviceDetailLogoContainer">
                          <img class="img-container img-rounded center-block serviceDetailLogo" ng-src="{{serviceDetails.img_url_logo}}" />
                        </div><!-- /col-xs-6 col-sm-6 col-md-6 col-lg-6 -->

                        <!-- ServiceDescription -->
                        <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 serviceDetailRightCol">-->
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                          <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <h1 class="text-justify serviceDetailName">{{serviceDetails.name}}</h1>
                            </div><!-- col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <img class="img-container serviceRoleLogo" ng-src="http://cc.oulu.fi/~jylikant/dhr/myDataIcons/icon-{{serviceDetails.role}}.png" />
                            </div><!-- col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
                          </div><!-- /row -->
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginFromTop-2">
                              <p class="serviceDescription">{{serviceDetails.description.longer}}</p>
                            </div><!-- col-xs-12 col-sm-12 col-md-12 col-lg-12 -->
                          </div><!-- /row -->
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginFromTop-2">
                              <span class="pull-right"><a ng-href="{{serviceDetails.link}}">SEE WEB PAGE</a></span>
                            </div><!-- col-xs-12 col-sm-12 col-md-12 col-lg-12 -->
                          </div><!-- /row -->
                        </div><!-- /col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
                      </div><!--/row -->
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginFromTop-2"><hr></div>
                      </div><!--/row -->

                      <!-- Service Connections -->
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 marginFromTop-2">
                        	<!--
                          <div class="m-t-xxl">
                            <h1 class="serviceCanAccessDes text-center">Services compatible with {{serviceDetails.name}}</h1
                          </div>
                          -->

                          <!-- <h1 class="serviceCanAccessDes text-center">Services compatible with {{serviceDetails.name}}</h1> -->
                          <h1 class="text-center">Services compatible with {{serviceDetails.name}}</h1>

                          <!-- If there is compatible services -->
                          <div class="marginFromTop-2">
                          	<ul class="serviceCanAccess">
                          		<li ng-repeat="i in servicesCanAccess">
                          			<h2>{{i.name}}</h2>
                          			<p>{{i.description.short}}</p>
                          			<hr>

                          		</li>
                          	</ul>
                          </div>
                          <!-- If there is not compatible services -->
                          <!--<div ng-if="!controller.servicesCanAccess" class="marginFromTop-5">-->
                          <!--
                          <div ng-hide="noCompatibleServices" class="marginFromTop-5">
                            <h2 class="noCompatibleServicesInfoText">You don't have any compatible services yet.</h2>
                            <h2 class="noCompatibleServicesInfoText">Browse the "Discovery" section to add services!</h2>
                          </div>
                          -->
                        </div><!-- /col-xs-6 col-sm-6 col-md-6 col-lg-6 -->

                        <!-- Add to My Account -->
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 marginFromTop-2">
                            <button class="btn btn-primary pull-right" ng-click="clickAddTo()">Add to My Account</button>
                        </div><!-- col-xs-6 col-sm-6 col-md-6 col-lg-6 -->
                      </div><!-- /row -->
                  </div><!-- /ibox-content -->
                </div><!-- /ibox -->
            </div><!-- /col-xs-12 col-sm-12 col-md-12 col-lg-12 -->
        </div><!--/row -->
    </div><!-- animated fadeInRight -->
</div><!-- wrapper wrapper-contentl -->
